<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <div class="login hide-login">
        <form class="login-container hide-form" method="POST" action="login">
           <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="" />
           <div class="input-container hide-section">
              <p><input type="email" placeholder="Email" name="email" required /></p>
              <p><input type="password" placeholder="Password" name="password" required /></p>
              <p><input class="btn" type="submit" value="Log in" /></p>
           </div>
        </form>
     </div>

    <script src="js/animate.js"></script>
</body>
</html>